@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing:1px;
}

/* .loader {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: 
    radial-gradient(farthest-side,#ffa516 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px),#ffa516 calc(100% - 4px)) content-box;
  animation: l6 2s infinite ;
}
@keyframes l6 {to{transform: rotate(1turn)}} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side, #eab308  92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 20px 20px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}
